
div.body{
  margin-top:0 !important;
}
div.thumb{
  margin-top:calc(91px + 111px);
  position:relative;
  width:100%;
  height:300px;
  background-color:#d1cdcc;
}

div.camera_icon{
  position:absolute;
  left:30px;
  bottom:16px;
  width:65px;
  height:65px;
  background-image:url('../img/quest_camera.png');
  background-repeat:no-repeat;
  background-position:center center;
  background-size: auto ;
}

div.body{
  padding: 30px;
  width: calc(100% - 30px - 30px) !important; 
  min-height:calc(100% - 90px/*head*/ - 110px/*tab*/ - 300px/*thumb*/  - 2px/*colum*/ - 30px/*padding*/ - 30px/*padding*/) !important;
}


div.box{
  position:relative;
  width:100%;
  min-height:90px;
  height:auto;
  background-color:#ffffff;
}

div.quest_bubble{
  position:absolute;
  width:257px;
  height:150px;
  background-image:url('../img/quest_bubble.png');
  background-position:center center;
  background-repeat:no-repeat;
  background-size:auto;
  right:13px;
  bottom: -43px;
  z-index:1;
  
}
div.bubble_seeall{
  position:absolute;
  width:93px;
  height:90px;
  left:20px;
  top:23px;
  background-image:url('../img/bubble_seeall.png');
  background-position:center center;
  background-repeat:no-repeat;
  background-size:auto;

}
div.bubble_share{
  position:absolute;
  width:93px;
  height:88px;
  top:23px;
  right:24px;
  background-image:url('../img/bubble_share.png');
  background-position:center center;
  background-repeat:no-repeat;
  background-size:auto;

}

div.title_box{
  position:relative;
  width:100%;
  min-height:90px;
  height:auto;
  background-color:#ffffff;
  margin: 0 0 30px 0;
}

div.title_box_left{
  position:relative;
  float:left;
  width:calc(100% - 100px);
  height:90px;
}

div.title_box_right{
  position:relative;
  float:left;
  width:100px;
  height:90px;
  background-image:url('../img/quest_more.png');
  background-position:center center;
  background-repeat:no-repeat;
  background-size:auto;
}

div.black_text{
  font-size : 32px;
  color : #333333;
  height:auto;
  padding:30px 30px 20px 30px;
}
/* 디자인수정이 필요할 부분 시작 */
div.gray_text{
  position:relative; /*1*/
  font-size : 32px;
  color : #d1cdcc;
  padding:30px 30px 20px 30px; /*2 */
  height:auto;
}

div.black_right_text{
  font-size : 32px;
  color : #333333;
  position: absolute; /*1*/
  padding:30px 30px 20px 30px; /*2*/
  height:auto;
  right:0;
}
/* 디자인수정이 필요할 부분 끝 */

div.list_colum{
  position:relative;
  width:100%;
  height:1px;
  background-color:#d1cdcc;
}


div.decision{
  position:relative;
  width:100%;
  height:90px;
  margin: 30px 0 0 0 ;
}

div.save{
  position:relative;
  float:left;
  width:50%;
  background-color:#ffca10;
  height:100%;
}

div.cancel{
  position:relative;
  float:left;
  width:50%;
  background-color:#ffffff;
  height:100%;
}

div.white_center_text{
  font-size:32px;
  color:#ffffff;
  height:32px;
  text-align:center;
  position:absolute;
  margin : auto;
  top: 0; left: 0; bottom: 0; right: 0;
}


div.gray_center_text{
  font-size:32px;
  color:#d1cdcc;
  height:32px;
  text-align:center;
  position:absolute;
  margin : auto;
  top: 0; left: 0; bottom: 0; right: 0;
}

div.temp{
  position:absolute;
  color:#fff;
  margin:auto;
  left:0;right:0;top:0;bottom:0;
  font-size:60px;
  height:60px;
  width:auto;
  font-weight:bold;
  text-align:center;
}
div.fold{
  position:relative;
  width:100%;
  height:55px;
  background-color:#fff;
  margin: 0 0 30px 0;
  background-image:url('../img/fold.png');
  background-position:center center;
  background-repeat:no-repeat;
  background-size:auto;
}

div.star_place{
  position:absolute;
  width:240px; /*SHOULD DISSCUSS WITH DESIGNER*/
  height:36px;
  margin: auto 24px auto auto;/*SHOULD DISSCUSS WITH DESIGNER*/
  left:0; right:0; top:0; bottom:0;
}

div.star{
  position:relative;
  float:left;
  width:38px;
  height:36px;
  margin:0 0 0 10px;
  background-image:url('../img/star.png');
  background-position:center center;
  background-repeat:no-repeat;
  background-size:auto;
}

div.star_none{
  position:relative;
  float:left;
  width:38px;
  height:36px;
  margin:0 0 0 10px;
  background-image:url('../img/star_none.png');
  background-position:center center;
  background-repeat:no-repeat;
  background-size:auto;
}
pre.temp{
  margin:0;
}
